@import "variables";
@import "reset";

body {
    all: unset;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1070px;
    margin: 0 auto;
}
.desktop-header {
    background: $secondary;
    height: 120px;
    color: $primary;
    margin: 0;
    position: relative;

}

.desktop-header-logo {
    float: left;
    margin: 25px 10px 0 0;

    .logo-symbole {
        float: left;
        height: 78px;
    }

    .logo-text {
        float: left;

        p {
            margin: 0 0 10px 15px;    
            word-spacing: 4px;
        }
        img {

            height: 42px;
            width: auto;
            position: relative;
            left: -10px;
        }
    }
    
}

.desktop-header-nav {
    float: left;
}

.desktop-header-nav_searchbar{
    margin-top: 11px;
    form {
        margin-right: 5px;
        display: inline;
        border: #bdbcbd 7px solid;
        border-radius: 7px;
        background: #bdbcbd;

        input {
            width: 230px;
            border: none;
            background: none;
            color: $secondary;
            font-weight: 800; 
        }

        button {
            background: $secondary;
            border-radius: 5px;
            border: none;
            height: 24px;
            color: $primary;
            font-size: .7em;
            cursor: pointer;
        }
    }

    .btn {
        background: none;
        padding: 7px 15px;
        border: $primary 1px solid;
        border-radius: 7px;
        color: $primary;
        font-size: 12px;
        cursor: pointer;
    }

    .btn:hover {
        opacity: 0.5;
    }

    .socialmedia {
        float: right;
        margin: -11px 0 0 8px;
        font-size: 10px;
        color: $primary;
        line-height: 0%;

        li {
            display: inline-block;
            cursor: pointer;
            position: relative;
            width: 60px;
            height: 37px;
            background: #3b5998;
            text-align: center;
            margin-left: -3px;
        }

        li:nth-child(1) {
            background: #3b5998;
        }
        li:nth-child(2) {
            background: #1da1f2;
        }
        li:nth-child(3) {
            background: #00b900;
        }
        li:nth-child(4) {
            background: #00a1de;
        }

        a {
            position: relative;
            top: 20px;
        }
    }
}


