.desktop-header {
    //background: $secondary;
    height: 110px;
    color: $primary;
    margin: 0;
    position: relative;

}

.desktop-header_logo {
    float: left;
    margin: 25px 15px 0 0;

    .logo-symbole {
        float: left;
        height: 78px;
    }

    .logo-text {
        float: left;

        p {
            margin: 0 0 10px 15px;
            word-spacing: 4px;
        }

        img {
            height: 42px;
            width: auto;
            position: relative;
            left: -10px;
        }
    }

}

.desktop-header-nav {
    float: left;
}

.desktop-header-nav_searchbar {
    form {
        margin-top: 8px;
        margin-right: 0;
        padding: 3px 3px;
        display: inline-block;
        border: #bdbcbd 1px solid;
        border-radius: 7px;
        background: #bdbcbd;

        i {
            font-size: 23px;
            vertical-align: middle;
            margin-left: 5px;
        }

        input {
            width: 210px;
            border: none;
            background: none;
            color: $secondary;
            margin-left: 7px;
            font-weight: bold;
        }

        a {
            vertical-align: middle;
        }
    }

    .product-search {
        padding: 7px 15px;
        border: $primary 1px solid;
        font-size: 12px;
    }

    .socialmedia {
        float: right;
        font-size: 10px;
        color: $primary;
        margin: 0 0 0 0;

        li {
            display: inline-block;
            cursor: pointer;
            position: relative;
            width: 60px;
            height: 37px;
            background: #3b5998;
            text-align: center;
            margin-left: -3px;
        }

        li:nth-child(1) {
            background: #3b5998;
        }

        li:nth-child(1)::before {
            font-family: "Font Awesome 5 Brands";
            content: '\f082';
            font-size: 1.7em;
            position: absolute;
            top: 3px;
            right: 39%;
        }

        li:nth-child(2) {
            background: #1da1f2;
        }

        li:nth-child(2)::before {
            font-family: "Font Awesome 5 Brands";
            content: '\f099';
            font-size: 1.7em;
            position: absolute;
            top: 3px;
            right: 39%;
        }


        li:nth-child(3) {
            background: #00b900;
        }

        li:nth-child(3)::before {
            font-family: "Font Awesome 5 Brands";
            content: '\f3c0';
            font-size: 1.7em;
            position: absolute;
            top: 3px;
            right: 39%;
        }


        li:nth-child(4) {
            background: #00a1de;
        }

        li:nth-child(4)::before {
            font-family: "Font Awesome 5 Brands";
            content: '\f0e1';
            font-size: 1.7em;
            position: absolute;
            top: 3px;
            right: 39%;
        }


        a {
            position: relative;
            top: 23px;
        }
    }
}

.desktop-header-nav_menu {

    .main-menu {
        background: rgba(255, 255, 255, 0.8);
        float: left;
        padding: 0;
        margin-top: 10px;
        list-style: none;
        padding: 0 10px;

        .main-menu_item {
            float: left;
            text-align: center;
            width: 132px;
            height: 56x;
            line-height: 56px;
            border: 1px #888888 dashed;
            border-bottom: 4px $accent solid;
            color: $secondary;
            font-size: 0.9em;
            font-weight: bold;
            cursor: default;

            a {
                color: $secondary;
                display: block;
            }

            i {
                font-size: 1.5em;
                margin-right: 15px;
            }

            .sub-menu {
                background: #ff587f;
                border-top: #bdbcbd 1px solid;
                height: 130px;
                z-index: 1;
                padding: 0 20px;
                width: auto;
                position: absolute;
                top: 100%;
                list-style: none;
                display: none;

                li {
                    text-align: center;
                    width: 150px;

                    a {
                        padding: 15px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        font-size: .8em;
                        text-align: center;
                        line-height: 25px;
                        color: #ffffff;
                        cursor: pointer;

                        img {
                            border-radius: 50%;
                            vertical-align: center;
                        }
                    }
                }
            }
        }

        .main-menu_item:hover>.sub-menu {
            display: flex;
        }

        // 3 Main implementation:
        // - SVG Icons has diffrent color in each Main Menu Item.
        // - Sub Menu background color is the same as the parent menu SVG Icon.
        // - Menus that don't have Sub Menu will have a border at the bottom effected by mouse hover.
        
        
        /* .main-menu_item:nth-child(1)::after {
            font-family: "Font Awesome 5 Brands";
            content: '\f0e1';
            font-size: 1.7em;
            color: red;
            position: absolute;
            top: 3px;
            right: 39%; */
        }
        .main-menu_item:nth-child(1)>i {
            color: #ff587f;

        }

        .main-menu_item:nth-child(1)>.sub-menu {
            background: #ff587f;
        }

        .main-menu_item:nth-child(2)>a>i {
            color: #7cbf42;
        }

        .main-menu_item:nth-child(2):hover {
            border-bottom: 4px #7cbf42 solid;
        }

        .main-menu_item:nth-child(3)>a>i {
            color: #ffb100;
        }

        .main-menu_item:nth-child(3):hover {
            border-bottom: 4px #ffb100 solid;
        }

        .main-menu_item:nth-child(4)>i {
            color: #1f9fe0;
        }

        .main-menu_item:nth-child(4)>.sub-menu {
            background: #1f9fe0;
        }

        .main-menu_item:nth-child(5)>i {
            color: #a170ef;
        }

        .main-menu_item:nth-child(5)>.sub-menu {
            background: #a170ef;
            right: 130px;
        }

    }
}

.desktop-header_character {
    position: absolute;
    top: 0;
    z-index: -1;
    right: -40px;

}