@import "../2-base/base";
@import "../0-helpers/helpers";


.main-slider {
    padding: 0;
    margin: 0;
    background: white;
    text-align: center;
    width: 100%;
    z-index: 0;
    position: relative;

    .main-slider-container {
        width: 840px;
        margin: auto;

        .main-slider-list {
            display: flex;
            width: 100%;
        }

        .main-slider-controls {
            position: absolute;
            top: 0;
            background: url("../../dist/img/bg-slider.png");
            border: none;
            height: 450px;
            width: calc((100% - 840px) / 2);
            z-index: 1;
            padding: 0;
            cursor: pointer;
        }

        #main-slider-controls-next {
            right: 0;
        }

        #main-slider-controls-next::before {
            content: "";
            float: left;
            font-size: 3.5em;
            height: 160px;
            width: 30px;
            line-height: 4px;
            color: #ffffff;
            background-color: rgba(230, 0, 0, .8);
        }

        #main-slider-controls-prev {
            left: 0;
        }

        #main-slider-controls-prev::before {
            content: "";
            float: right;
            font-size: 3.5em;
            height: 160px;
            width: 30px;
            line-height: 4px;
            color: #ffffff;
            background-color: rgba(230, 0, 0, .8);
        }
    }
}

.main-slider-dots {
    background: url("https://dengekibunko.jp/themes/dengekibunko/images/project/top/bg-band-primary.svg");
    background-repeat: no-repeat;
    background-position: 0 -190px;
    background-size: 200%;
    height: 200px;
    margin: 0;
    
    .slider-dots_nav {
        margin-bottom: 7px;
        div {
            display: inline-block;
            margin: 0 10px;
            background: #ffffff;
            height: 40px;
            cursor: pointer;
            
            img {
                border: $secondary solid 3px;
                width: 65px;
                opacity: 0.6;
            }
        }
    }
    .news {
        display: flex;
        margin: auto;
        padding: 10px 0;
        width: 870px;
        background: rgba(255, 255, 255, 0.9);
        border: $accent solid 1px;
        
        .news-logo {
            padding: 0 45px;
            color: $accent;
            align-content: center;
            width: 65px;
            
            .news-icon {
                margin: 0;
                font-size: 50px;
            }
            
            .jp-text {
                margin: 0;
                margin-top: 7px;
                font-size: 30px;
            }
            .en-text {
                margin-top: 7px;
                font-size: 14px;
                font-weight: 700;
            }
            
        }
        .news-collection {
            padding-right: 10px;
            .news-collection-text {
                display: flex;
                margin: 20px 0;
                //TODO: fix ne
                .news-info {
                    display: flex;
                    text-align: center;
                    padding: 0;
                    min-width: 238px;
                    .news-category {
                        color: #ffffff;
                        background: #ffa921;
                        display: block;
                        font-weight: 900;
                        font-size: 13px;
                        width: 138px;
                        border-radius: 15px;
                        margin: 0 10px;
                    }
                    .news-release-date {
                        margin-right: 30px;
                        display: block;
                        font-size: 14px;
                        font-weight: 100;
                    }
                }
                .news-title {
                    font-weight: 700;
                    font-size: 14px;
                }
            }
            .news-collection-text:nth-child(1) {
                margin-top: 0;
            }
            .news-collection-text:nth-child(3) {
                margin-bottom: 0;
            }
        }
    }
}